$accentColor = #23c9a9
$textColor = #596361
$borderColor = #eaecef
$codeBgColor = #282c34

.test-col
 background-color: #e8fbf8;
 border: 1px solid #c5f5ed;
 font-size 9pt
 padding 10px
 text-align center
